.menu {
  background-color: #fff;
  background-image: url(../images/background_menu.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #000;
  display: flex;
  flex-direction: column;
}

.menu__title {
  max-width: 780px;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 100px auto 0;
  text-align: center;
}

.menu__subtitle {
  max-width: 780px;
  font-family: "Noto Serif", "Timess New Roman", "serif";
  font-size: 20px;
  line-height: 30px;
  margin: 24px auto 0;
  text-align: center;
}

.menu__cards {
  width: 1180px;
  margin: 100px auto 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
}
